watdiv.10M.nt
100k.txt
.ipynb_checkpoints/P2-checkpoint.ipynb
.ipynb_checkpoints/follows-checkpoint.txt
.ipynb_checkpoints/friendOf-checkpoint.txt
.ipynb_checkpoints/hasReview-checkpoint.txt
.ipynb_checkpoints/*
